<?xml version="1.0"?>
<config>
	<modules>
		<Soraco_Qlm>
		<version>1.0.0</version>
		</Soraco_Qlm>
	</modules>
	<frontend>
		<routers>
			<soraco_qlm>
				<use>standard</use>
				<args>
					<module>Soraco_Qlm</module>
					<frontName>soraco_qlm</frontName>
				</args>
			</soraco_qlm>
		</routers>		
		<events>
		   <sales_order_place_after>
		     <observers>
			    <setgenerated_key_product>
				     <class>Soraco_Qlm_Model_Observer</class>
				     <method>setgeneratedKey</method>
			    </setgenerated_key_product>
		     </observers>
		   </sales_order_place_after>
		</events>
	</frontend>
	<global>
		<models>
		    <soraco_qlm>
		        <class>Soraco_Qlm_Model</class>
		    </soraco_qlm>
		</models>

		<helpers>
		  <soraco_qlm>
			<class>Soraco_Qlm_Helper</class>
		  </soraco_qlm>
		</helpers>

		<resources>
		  <soraco_qlm_setup>
			<setup>
			  <module>Soraco_Qlm</module>
			</setup>
			<connection>
			  <use>core_setup</use>
			</connection>
		  </soraco_qlm_setup>
		  <soraco_qlm_write>
			<connection>
			  <use>core_write</use>
			</connection>
		  </soraco_qlm_write>
		  <soraco_qlm_read>
			<connection>
			  <use>core_read</use>
			</connection>
		  </soraco_qlm_read>
	</resources>
	</global>
	
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<soraco_qlm>
											<title>QLM - All</title>
										</soraco_qlm>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config> 
